################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/obj
/ProjectEulerSolutions/.vs/ProjectEulerSolutions/v16
/ProjectEulerSolutions/bin/Debug/net5.0
/ProjectEulerSolutions/obj
/Common/bin/Debug/net5.0
